.main {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: row;
    border: 5px;
}

.nav {
    flex: auto;
}

.foot {
   flex: auto;
}

.left{
    flex: auto;
    border: 3px solid black;
background-color: burlywood;
}
.right{
    flex: auto;
    border: 3px solid black;
    background-color: aqua;
}